In [7]:
-- average debt per country, top 10
WITH avg_debt_per_country AS(
	SELECT country_name,AVG(debt) AS total_debt
	FROM international_debt
	GROUP BY country_name
	ORDER BY total_debt DESC
	LIMIT 10)

SELECT *
FROM avg_debt_per_country;

                                   country_name    total_debt
0                                         China  1.190806e+10
1                                        Brazil  1.169267e+10
2                                    South Asia  1.031703e+10
3                            Russian Federation  9.109003e+09
4  Least developed countries: UN classification  8.515240e+09
5                                      IDA only  7.161925e+09
6                                        Turkey  6.296907e+09
7                                        Mexico  5.663490e+09
8                                         India  5.567794e+09
9                                     Indonesia  4.537428e+09

In [8]:
-- number of distinct countries
WITH num_distinct_countries AS (
	SELECT COUNT(DISTINCT country_name) AS total_distinct_countries
	FROM international_debt)
	
SELECT *
FROM num_distinct_countries;

   total_distinct_countries
0                       124

In [9]:
-- highest debt's country

WITH highest_debt_country AS (
	SELECT country_name, SUM(debt) AS total_debt
	FROM international_debt
	GROUP BY country_name
	ORDER BY SUM(debt) DESC
	LIMIT 1)
	
SELECT *
FROM highest_debt_country;

  country_name    total_debt
0        China  2.857935e+11

In [10]:
-- lowest principal repayment's country

WITH lowest_principal_repayment AS (
	SELECT country_name, indicator_name, indicator_code AS lowest_repayment
	FROM international_debt
	WHERE indicator_code = 'DT.AMT.DLXF.CD'
	ORDER BY debt ASC
	LIMIT 1	)

SELECT *
FROM lowest_principal_repayment;

  country_name  ... lowest_repayment
0  Timor-Leste  ...   DT.AMT.DLXF.CD

[1 rows x 3 columns]